.webcam-wrapper {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  left: 20px;
 // border: 1px solid grey;
  border-radius: 5%;
  background-color: white;
  height: 231px;
  width: 202px;
  transition: all 0.3s ease-in-out;
}

.webcam-wrapper.hide {
  height: 60px !important;
  overflow: hidden;
  width: 60px !important;
  border-radius: 100%;
  
}

.minimize svg {
  cursor: pointer;
}

.vh-full {
  height: calc(100vh - 62px);
}


